In [1]:
# Dependencies
import psycopg2
import pandas as pd
import password
import matplotlib.pyplot as plt

In [2]:
# Pass in parameters from password and set connection with psycopg2
connection = psycopg2.connect(**parmas)

NameError: name 'parmas' is not defined

In [ ]:
# Create Salary DataFrame by querying the database
salary_df = pd.read_sql_query('SELECT * FROM "Salary";', con = connection)

In [ ]:
# Get Median Salary of Employees
medianSalary = salary_df['salary'].median()

In [ ]:
# Graph a histogram with median salary of Employees and Emplyees' Salary
plt.figure(figsize=(10,5))
plt.axvline(medianSalary, color ='Red', label=f'Salary Median {medianSalary}')
plt.legend()
plt.hist(salary_df['salary'], edgecolor='black')
plt.title ('Most Common Salary Among Employees')
plt.xlabel('Salary')
plt.ylabel('Total Employees')
plt.tight_layout()

plt.show()

In [ ]:
# Query tables to get desire parameters
selection = 'SELECT t.title, s.salary FROM "Titles" as t INNER JOIN "Employees" as emp ON t.title_id = emp.emp_title_id INNER JOIN "Salary" as s ON emp.emp_no = s.emp_no'

In [ ]:
# Select title and salary from tables Titles, Employees and Salary
salary_title_df = pd.read_sql_query(selection, con = connection)

# Group by title and get average salary in sorted values
meanSalary_by_title = salary_title_df.groupby('title').mean()
meanSalary_by_title = meanSalary_by_title.sort_values('salary', ascending=False)

In [ ]:
# Show DataFrame
meanSalary_by_title

In [ ]:
# Create a bar chart of average salary by title
meanSalary_by_title.plot(kind='bar', title = "Average Salary by Title", xlabel="Title", ylabel='Salary', figsize=(10,5))
plt.tight_layout()
plt.show()